@model assignment2.Models.Employeee



<!DOCTYPE html>

<html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Edit</title>
    </head>

    <body>

        <h4>Employeee</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="EmpId" />
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <input asp-for="IsDelete" type="hidden" class="form-control" />
                        <input asp-for="IsActive" type="hidden" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactNo" class="control-label"></label>
                        <input asp-for="ContactNo" class="form-control" />
                        <span asp-validation-for="ContactNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HomeAddress" class="control-label"></label>
                        <input asp-for="HomeAddress" class="form-control" />
                        <span asp-validation-for="HomeAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WorkLocation" class="control-label"></label>
                            <select asp-items="@(new SelectList(@ViewBag.list,"Address", "Address"))"
                            asp-for="WorkLocation" class="form-control" selected="@Model.WorkLocation">
                            <option value="0">-- select --</option>
                        </select>
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </body>

</html>
